---
layout: page
title: Blog
---
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% else %}
		{% for post in paginator.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}

		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}">Previous</a>
			{% else %}
				<span class="previous disabled">Previous</span>
			{% endif %}
			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}">Next</a>
			{% else %}
				<span class="next disabled">Next</span>
			{% endif %}
		</div>
	{% endif %}
</section>
