---
layout: page
title: Projects
---
<!--section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">
                    <aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                    <h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section-->

<h1><a href="https://github.com/rushab-shah/research-insights-extractor">Research Insights Extractor</a></h1>

<ul>
    <li>The <strong>Research Insights Extractor</strong> is an advanced system designed to automatically extract key features from medical literature, specifically from PDF files of research papers.</li>
    <li>This system utilizes the <strong>OpenAI GPT model</strong> to extract essential features such as the conclusion, number of subjects, relative risk, length of follow-up, among others. The extracted data is presented in a structured JSON format.</li>
    <li>The project includes a user-friendly interface, developed using React and Material-UI, to display the extracted features in an easy-to-understand manner.</li>
    <li>The application uses Docker for easy deployment and distribution, and Git for version control. Users are required to have Docker and Git installed on their systems to use this project.</li>
    <li>The process of feature extraction and data presentation is managed via a Python backend and a React frontend. It includes reading and preprocessing the input PDF files, making API calls to OpenAI GPT, and finally presenting the extracted features on the UI.</li>
    <li>The system has room for improvements such as handling of complex PDF layouts, optimizing the speed of feature extraction, expanding the set of features extracted, and more securely handling API keys.</li>
</ul>

